{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "babel-preset-env",
    "react",
    "stage-0"
  ],
  "plugins": ["react-hot-loader/babel", "babel-plugin-styled-components"]
}
