[report]
exclude_lines =
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

omit =
    committee_admissions/*/migrations/*
    committee_admissions/settings/*
    committee_admissions/*/tests/*
    committee_admissions/admissions/factories.py
    committee_admissions/wsgi.py
    committee_admissions/urls.py

show_missing = True

