{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "globals": {
    "process": false,
    "module": false,
    "__dirname": false
  },
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 2,
    "require-atomic-updates": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
