@import url("https://fonts.googleapis.com/css?family=Cardo");
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import url("./variables.css");
@import url("./fonts.css");

html {
  box-sizing: border-box;
  font-size: 1rem;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  line-height: 1.8;
  font-family: Rawline, "Helvetica Neue", Arial, sans-serif;
  background: var(--lego-background);
  color: var(--lego-font-color);
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: var(--lego-link-color);
  cursor: pointer;
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
}

p {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0.2em 0 0;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

i {
  display: inline;
}

table {
  border-collapse: collapse;
}

th {
  padding: 5px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa !important;
  font-weight: 500;
}

th,
td {
  padding-left: 7px;
  width: 140px;
  border-bottom: 1px dashed #aaa;
  text-align: left;
  display: table-cell;
  word-break: break-all;
  hyphens: auto;
}

tr:last-of-type > td {
  border-bottom: 0;
}

thead {
  font-weight: bold;
  background-color: #eee;
}

time {
  white-space: nowrap;
}
