:root {
  /* COLORS */
  --lego-background: linear-gradient(
    180deg,
    #eae9e8 0%,
    rgb(244 244 244 / 0%) 100%
  );
  --lego-font-color: #394b59;
  --lego-link-color: #c0392b;
  --lego-card-color: #f5f4f4;

  --lego-red: #c0392b;
  --lego-gray: #394b59;
  --lego-white: #fff;
  --lego-gray-lightest: #f5f4f4;
  --lego-gray-light: #eae9e8;
  --lego-gray-medium: #dadada;
  --lego-gray-dark: #818181;
  --lego-green: #a1c34a;
  --lego-blue: #52b0ec;
  --lego-yellow: #fce174;

  --abakus-red: #e20d12;
  --abakus-red-dark: #bd1c1c;
  --abakus-red-light: #db4c48;

  /* VARIABLES */

  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-large: 18px;

  --font-family: "Rawline", "Helvetica Neue", arial, sans-serif;

  --lego-max-width: 1100px;
  --lego-default-padding: 2rem;
}
