.form {
  grid-area: form;
}

.submit-btn {
  grid-area: submit;
  align-self: end;
}

.delete-btn {
  grid-area: delete;
  align-self: start;
  justify-self: start;
}

.buttons-container {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 11em [first]0.5fr 0.5[end];
  grid-template-rows: auto;
  grid-template-areas: ". delete submit";
  margin: 0.5em;
}

.committees {
  grid-area: committees;
  position: fixed;
  top: 11em;
  left: 90%;
  transform: translateX(-90%);
}

.committees-mobile {
  grid-area: committees;
}

.noChosen {
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
}
