{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="nb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta property="og:url" content="{{ settings.FRONTEND_URL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Søk komité og revy!">
    <meta property="og:description" content="Vil du være med å bidra til at Abakus skal fortsette å være den beste linjeforeningen? Da må du søke verv i Abakus!">
    <meta property="og:image" content="{% static "og_image.png" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700;800&family=Geist+Mono:wght@400;500;600&display=swap">

    {% vite_react_refresh %}
    {% vite_hmr_client %}
    {% vite_asset 'frontend/src/index.tsx' %}

    <title>Opptak | Abakus.no</title>

  </head>
  <body>
    <noscript>
      Du må aktivere JavaScript for å bruke opptakssystemet.
    </noscript>
    <div id="root"></div>
    {{ django_data|json_script:"django-data" }}
    {{ frontend_config|json_script:"frontend-config" }}
  </body>
</html>
