{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta property="og:url" content="{{ settings.FRONTEND_URL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Søk komité og revy!">
    <meta property="og:description" content="Vil du være med å bidra til at Abakus skal fortsette å være den beste linjeforeningen? Da må du søke komité! ">
    <meta property="og:image" content="{% static "og_logo.png" %}">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="{% static "manifest.json" %}">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    {% vite_react_refresh %}
    {% vite_hmr_client %}
    {% vite_asset 'frontend/src/index.tsx' %}

    <title>Opptak | Abakus.no</title>

  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script>
    window.__DJANGO__ = {
      user: {
        profile_picture: "{{ request.user.profile_picture|default:'' }}",
        full_name: "{{ request.user.get_full_name }}",
        representative_of_group: "{{ request.user.representative_of_group }}",
        is_staff: {{ request.user.is_staff|yesno:"true,false" }},
        is_member_of_webkom: {{ request.user.is_member_of_webkom|yesno:"true,false" }}
      }
    };
    window.__CONFIG__ = {
        SENTRY_DSN: "{{ settings.SENTRY_DSN }}",
        RELEASE: "{{ settings.RELEASE }}",
        ENVIRONMENT: "{{ settings.ENVIRONMENT_NAME }}",
        API_URL: "{{ settings.API_URL }}"
    }
    </script>
  </body>
</html>
