{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="{% static "manifest.json" %}">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Opptak | Abakus.no</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script>
    window.__DJANGO__ = {
      user: {
        full_name: "{{ request.user.get_full_name }}",
        is_superuser: "{{ request.user.is_superuser }}",
        is_board_member: "{{ request.user.is_board_member }}"
      }
    };
    window.__CONFIG__ = {
        RAVEN_DSN: "{{ settings.RAVEN_PUBLIC_DSN }}",
        RELEASE: "{{ settings.RELEASE }}",
        ENVIRONMENT: "{{ settings.ENVIRONMENT_NAME }}",
        API_URL: "{{ settings.API_URL }}"
    }
    </script>
    {% render_bundle 'app' %}
    {% render_bundle 'vendor' %}
    {% render_bundle 'vendors~app' %}
    {% render_bundle 'runtime~app' %}
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.
    -->

  </body>
</html>
